__pycache__/
download_exe_here\weight_tracker_exportconfig.json
download_exe_here\bad.wav
download_exe_here\spook.png
download_exe_here\spook2.png
download_exe_here\Weight_tracker - Shortcut.lnk
download_exe_here\Weight_data.db
download_exe_here\Weight_tracker.exe